/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Lobster'); */

@font-face {
    font-family: OpenSans;
    src: url(./allMaterials/fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: Lobster;
    src: url(./allMaterials/fonts/Lobster-Regular.ttf);
}
/* 
 Color List:

 #f5fafb => body bg
 #4e9fb7 => blue
 #244c58 => dark Blue
 #D4AF37 => gold
*/


* {
    padding: 0; border: 0; margin: 0; 
    box-sizing: border-box;
    list-style-type: none; 
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: OpenSans, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    background-color: #f5fafb;
}

h1 {
    margin-bottom: 0.5em;
    font-size: 3.6rem;
}

p {
    margin-bottom: 0.5em;
    font-size: 1.6rem;
    line-height: 1.6;
}

/* -------------------------------- Navbar -------------------------------- */
.header-area {
    position: relative;
    height: 100vh;
    background: white;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repear;
    background-size: cover;
}
.navbar {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    width: 100%;
    transition: background 0.6s ease-in;
    z-index: 10;
    background-color: #4e9fb7;
}
.navbar .nav-header {
    background-color: #244c58;
    padding: 10px;
    z-index: 10;
    width: 20vw;
}
.navbar .nav-header .navbar-brand {
    font-family: Lobster, cursive;
    font-size: 2.5rem;
    margin: 0 20px;
    color: #D4AF37;
}
.main-nav-list {
    direction: rtl;
    padding: 10px;
    width: 100%;
}
.main-nav-list ul li {
    margin: 0 20px;
}
.main-nav-list ul li a.nav-link {
    text-align: center;
    position: relative;
    color: #fff;
    font-size: 1.6rem;
    padding-top: 10px;
    padding-bottom: 15px;
}
.main-nav-list ul li a.nav-link:focus, 
.main-nav-list ul li a.nav-link:hover {
    color: #fff;
}
.main-nav-list ul li a.nav-link::after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0%;
    right: 0%;
    height: 1px;
    background-color: #fff;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    transition: transform 0.1s ease-in;
}
.main-nav-list ul li a.nav-link:hover::after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

.navbar-nav .dropdown-menu {
    padding: 0;
    background-color: #244c58;
    min-width: 200px;
    -webkit-animation: dropdown-animation 0.7s;
    animation: dropdown-animation 0.7s;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
}
.navbar-nav .dropdown-menu .dropdown-item {
    position: relative;
    padding: 10px;
    margin: 0;
    text-align: center;
    color: #fff;
    font-size: 1.4rem;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    transition: color 0.2s ease-in;
}
.navbar-nav .dropdown-menu .dropdown-item:last-child {
    border-bottom: none;
}
.navbar-nav .dropdown-menu .dropdown-item:hover {
    background: transparent;
    color: #D4AF37;
}
.navbar-nav .dropdown-menu .dropdown-item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    width: 5px;
    background-color: #D4AF37;

    opacity: 0;
    transition: opacity 0.2s ease-in;
}
.navbar-nav .dropdown-menu .dropdown-item:hover::before {
    opacity: 1;
}

.navbar.fixed-top {
    position: fixed;
    -webkit-animation: navbar-animation 0.6s;
    animation: navbar-animation 0.6s;
    background-color: rgba(36, 76, 88, .9);
}
.navbar.fixed-top .main-nav-list ul li a.nav-link.active {
    color: #D4AF37;
}
.navbar.fixed-top .main-nav-list ul li a.nav-link::after {
    background-color: #D4AF37;
}

.main-nav-list::before,
.main-nav-list::after {
    background-color: rgba(36, 76, 88, .9);
    content:"";
    position: absolute;
    top: 0;
    height: 100vh;
    width: 0vw;
    transition: all 100ms ease-in-out 300ms;
}
.main-nav-list::before{
    left: 0;
}
.main-nav-list::after{
    right: 0;
}

/* -------------------------------- Banner -------------------------------- */
.banner {
    position: relative;
    height: 100%;
    align-items: center;
    text-align: center;
    color: black;
    z-index: 1; 
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .3);
    z-index: 2;
}

.banner .carousel-inner .carousel-caption {
    position: absolute;
    top: 45%;
    color: white;
    font-family: OpenSans;
    z-index: 10;
}

.banner  .carousel-inner .carousel-caption p {
    font-size: 20px;
    background-color: #4e9fb7;
    padding: 10px 20px;
    border-radius: 10px;
}
.banner .carousel-inner .carousel-caption h5 {
    font-size: 3rem;
    background-color: #4e9fb7;
    padding: 10px;
    border-radius: 10px;   
    font-weight: bold;
}
.banner img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: top;
}


/* -------------------------------- Reponsive -------------------------------- */
@media (max-width: 767.98px) {
    .navbar .nav-header {
        width:100%;
    }
    .nav-toggle {
        cursor: pointer;
        width: 55px;
        padding: 0;
        border: none;
        float: right;
    }
    .nav-toggle div {
        background-color: white;
        border-radius: 25px;
        box-shadow: 0px 3px 13px rgba(0,0,0,.3);
        height: 7px;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(.13,.24,.35,1.64);
    }
    .nav-toggle .one,
    .nav-toggle .two {
        margin-bottom: 7px;
    }
    .main-nav-list {
        padding: 0;
        margin: 0;
    }
    .main-nav-list ul{
        display: none;
        animation: fade-out 1s;
    }
    .main-nav-list a {
        display: block;
        font-size: 2rem;
        letter-spacing: 3px;
        margin-bottom: 15px;
        opacity: 0;
        text-align: center;
        text-transform: uppercase;
        transition-delay: 130ms;
    }

    /************* Style the nav elements when active ***********************/
    body.active {
        overflow: hidden;
    }
    .nav-toggle.active .one {
        box-shadow: 0px 3px 13px rgba(0,0,0,.4);
        transform: translate(0, 14px) rotate(45deg);
    }
    .nav-toggle.active .two {
        background-color: transparent;
        box-shadow: none;
        transform: translateX(-55px);
    }
    .nav-toggle.active .three {
        box-shadow: 0px 3px 13px rgba(0,0,0,.4);
        transform: translate(0,-14px) rotate(-45deg);
    }
    .main-nav-list.active::before,
    .main-nav-list.active::after{
        width: 15vw;
        transition-duration: 0.5s;
    }
    .main-nav-list.active {
        background-color: #f5fafb;
        height: 100vh;
        width: 70vw;
        padding: 10px auto;
        margin: 0 auto;
        z-index: 8;
        
    }
    .main-nav-list.active ul{
        display: block;
        animation: fade-in 1s;
        padding-top: 10px;
    }
    .main-nav-list.active a {
        transition-delay: 600ms;
        opacity: 1;
    }
    .main-nav-list.active ul li a.nav-link {
        color: #244c58;
    }
    .main-nav-list ul li a.nav-link::after {
        background-color: #244c58;

    }
}


@-webkit-keyframes navbar-animation {
0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}
100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
}
@keyframes navbar-animation {
0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}
100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
}

@-webkit-keyframes dropdown-animation {
0% {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
}
75% {
    -webkit-transform: scaleY(1.1);
    -ms-transform: scaleY(1.1);
    transform: scaleY(1.1);
}
100% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
}
}
@keyframes dropdown-animation {
0% {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
}
75% {
    -webkit-transform: scaleY(1.1);
    -ms-transform: scaleY(1.1);
    transform: scaleY(1.1);
}
100% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
}
}
@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}